 * {
     margin: 0;
     padding: 0;
     overflow-x: hidden;
 }

 /*NavBar*/
 .hero {
     height: 60px;
     width: 100%;
     background-color: #fff;
 }

 nav {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-top: 0.2%;
     padding-left: 10%;
     padding-right: 10%;

 }

 nav ul li {
     list-style: none;
     display: inline-block;
     padding: 10px 15px;
 }

 nav ul li:hover {
     scale: 1.1;
     /* color: #b6a511; */
     text-decoration: none;
     font-weight: bold;
     box-shadow: 1px 10px 20px #FFD700;
 }

 /*Icons navbar*/
 .icon-nav {
     width: 25px;
     height: 25px;
     vertical-align: middle;
 }

 .logo-principal {
     width: 50px;
 }


 /*Slider Necesita ser automatico y semiautomatico*/

 .slider-container {
     position: relative;
     width: 100%;
     height: 80vh;
     background-color: white;
     /* paddin lf here */
     overflow: hidden;
 }

 .slider {
     background-size: cover;
     background-position: center;
 }

 .slider input {
     visibility: hidden;
     display: none;
 }



 .buttons {
     position: absolute;
     width: 100%;
     display: flex;
     justify-content: center;
     bottom: 20px;
     gap: 10px;
 }

 .buttons label {
     width: 20px;
     height: 20px;
     background-color: white;
     /*border-radius: 50%;*/
     opacity: 0.5;
     cursor: pointer;
     z-index: 1;
     transition: 300ms ease-in-out;
 }

 .buttons label:hover {
     scale: 1.2;
     opacity: 1;
 }

 .slider input:nth-child(1):checked~.buttons label:nth-child(1),
 .slider input:nth-child(2):checked~.buttons label:nth-child(2),
 .slider input:nth-child(3):checked~.buttons label:nth-child(3) {
     opacity: 1;
     scroll-margin: 1.2;
     width: 40px;
 }

 .content {
     position: relative;
     width: 300vw;
     /*300 por ser 3 dispositivos*/
     display: flex;
     transition: 400ms ease-in-out;
 }

 .firstSlide,
 .secondSlide,
 .ThirdSlide {
     position: relative;
     width: 100vw;
     height: 80vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .firstSlide {
     background-image: url('../Img/Slider/Slider1.jpg');
     background-size: cover;
     background-position: center;
 }

 .secondSlide {
     background-image: url('../Img/Slider/Slider2.jpg');
     background-size: cover;
     background-position: center;
 }

 .ThirdSlide {
     background-image: url('../Img/Slider/Slider3.jpg');
     background-size: cover;
     background-position: center;
 }

 .slider input:nth-child(1):checked~.content {
     left: 0;
 }

 .slider input:nth-child(2):checked~.content {
     left: -100vw;
 }

 .slider input:nth-child(3):checked~.content {
     left: -200vw;
 }


 .titulo-index-1 {
     text-align: center;
     top: 50px;
     bottom: 50px;
 }

 .titulo-index-1 h2 {
     margin-top: 45px;
     margin-bottom: 20px;
 }


 /*cartas normales*/

 .container_cards {
     Width: 100%;
     display: Flex;
     flex-wrap: wrap;
     text-align: center;
     justify-content: space-evenly;
 }



 .card {
     width: 270px;
     margin: 20px;
     border-radius: 6px;
     overflow: hidden;
     background: #fff;
     background-size: cover;
     box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
     cursor: pointer;
     transition: all 400ms ease;
 }

 .card:hover {
     box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
     transform: translateY(-3%);
 }

 .card img {
     width: 100%;
     height: 210px;
 }





 /*  Catalogo  */
 .icon-cart {
     width: 40px;
     height: 40px;

 }


 .imagen-catalogo {
     max-width: 100%;
 }

 .catalogo-title{
    display: flex;
    font-weight: 500;
    background-color: #f7f7f7;
}



 /* Main */

 .cointainer-items {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
    padding: 5%;
 }

 .item {
     border-radius: 10px;
     width: 90%;
 }

 .item:hover {
     box-shadow: 0 10px 20px #FFD700;
 }

 .info-product {
     display: flex;
     padding: 15px 30px;
     line-height: 2;
     flex-direction: column;
     gap: 10px;
 }
 

 .item img {
     width: 100%;
     height: 300px;
     object-fit: cover;
     border-radius: 10px 10px 0 0;
     /* border-top-left-radius: 40px; */

     transition: all .5s;
 }

 .item figure {
     overflow: hidden;
 }

 .item:hover img {
     transform: scale(1.2);
 }

 .price {
     font-size: 18px;
     font-weight: 900;
 }

 .info-product button {
     border: none;
     background: none;
     color: #fff;
     background-color: #000000;
     padding: 15px 10px;
     cursor: pointer;
 }

 .btn-add-cart{
    /* align-self: flex-end; */
    width: 50%;
 }

 .btn-edit-cart{
    width: 30px;
    height: 30px;
    overflow: hidden;
 }
 
    

 .count-products {
     position: absolute;
     top: 2%;
     left: 90%;
     right: 5%;
     right: 0;
     background-color: #000;
     color: #fff;
     width: 25px;
     height: 25px;

     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
 }

 #contador-productos {
     font-size: 12px;
 }

 .container-cart-products {
     position: absolute;
     top: 50px;
     right: 0;

     background-color: #fff;
     width: 400px;
     z-index: 1;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
     border-radius: 10px;
 }


 .hidden-cart {
     display: none;
 }




 .cart-product {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 30px;

     border-bottom: 1px solid rgba(0, 0, 0, 0.20);

 }

 .info-cart-product {
     display: flex;
     justify-content: space-between;
     flex: 0.8;
 }

 .titulo-producto-carrito {
     font-size: 20px;

 }

 .cantidad-producto-carrito {
     font-weight: 700;
     font-size: 20px;
     margin-left: 10px;
 }

 .cantidad-producto-carrito {
     font-weight: 400;
     font-size: 20px;
 }

 .cart-total {
     display: flex;
     justify-content: center;
     padding: 20px 0;
     align-items: center;
     gap: 20px;
 }

 .cart-total h3 {
     font-size: 20px;
     font-weight: 700;
 }

 .total-pagar {
     font-size: 20px;
     font-weight: 900;
 }


 /* Icons */
 .icon-close {
     width: 25px;
     height: 25px;
 }

 .icon-close:hover {
     stroke: red;
     cursor: pointer;
 }


 .icon-cart {
     width: 40px;
     height: 40px;
     stroke: #000;

 }

 .icon-cart:hover {
     cursor: pointer;
 }



 /*cart empty*/

 .cart-empty {
     padding: 20px;
     text-align: center;
 }

 .hidden {
     display: none;
 }


 /* Contacto*/

 .h2-map,
 .h1-map {
     font-style: italic;
     margin-top: 20px;
     /* Añadir espacio arriba */
     margin-left: 50px;
     /* Moverlo a la derecha */
 }

 .container-map {
     width: 100%;
     height: 500px;
     margin-top: 20px;
     /* Añadir espacio arriba */
     margin-left: 50px;
     /* Moverlo a la derecha */
     position: relative;
 }


 .mb-contactos p,
 h1 {
     text-align: left;
     padding: 20px;
     margin-top: 20px;
     /* Añadir espacio arriba */
     margin-left: 50px;
     /* Moverlo a la derecha */
 }

 .mb-contactos h1 {
     font-size: 55px;
 }

 .mb-contactos p {
     font-size: 20px;
 }

 .container-map h2 {
     font-size: 35px;
 }



 /* footer */


 section {
     padding: 80px 13% 70px;
 }

 .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;     
    gap: 3.5rem;
     background-color: grey;
     position: absolute;
     left: 0;
     right: 0;
 }

 .footer-content h4 {
     color: gold;
     margin-bottom: 1rem;
     font-size: 30px;
 }

 .footer-content img {
   width:  200px;
 }

 .footer-content li {
     margin-bottom: 16px;
 }

 .footer-content li a {
     display: block;
     color: #000;
     font-size: 15px;
     font-weight: 400;
     transition: all .40s ease;
     overflow: hidden;
 }

  .footer-content li a:hover {
  transform: translateY(3px) translateX(5px);
  color: #fff;
  }

  .footer-content p {
    color: #000;
    font-size: 16px;
    line-height: 30px;
    margin: 18px 0;
  }


.footer-icons a{
    display: inline-block;
    font-size: 22px;
    color: gold;
    margin-top: 5px;
    margin-right: 17px;
    transition: all .40s ease;
}

.footer-icons a:hover{
transform: scale(1.1);
    transform: translateY(-5px);
}


/*customize*/

.header-custom{
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: center;
}

.container-custom{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
   
}

.container-img-customize{
    margin-top: 70px;
    max-width: 500px;
    max-height: 600px;
    overflow: hidden;
    background-color: #f7f7f9;
}    

#imagen-custom{
    object-fit: cover; 
    width: 100%;
    height: 100%;
}

.container-details-customize-product{
     display: flex;
     flex-direction: column;
     margin: 30px;
     width:60%;
     min-width: 100px;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
     background-color: #f5f5f5;
}   

.container-details-customize-product .item-custom {
    margin: 10px;
    padding: 15px;
}


.precio{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.precio span{
    font-size: 24px;
    font-weight: 300;
}

.container-details-customize-product{
    padding: 30px 0;
}

.objetos label{
    width: 100px;
    color: #222;
    font-weight: 700;

}


.objetos  select{
    width: 300px;
    border: none;
    padding: 12px 15px;
    background-color: #f7f7f7;
    outline: none;
    color:#000000;
}
.frutas select{
    width: 300px;
    border: none;
    padding: 12px 15px;
    background-color: #f7f7f7;
    outline: none;
    color:#000000;
}

.input-quantity {
 position: relative;
}

.input-quantity{
    background-color: #f7f7f7;
    border: none;
    padding: 10px;
    width: 60px;
    height: 30px;
    color: #000000;
    font-weight: 500;
}



/*Eliminar botoncitos de aumento y decremento*/
/* .input-quantity::-webkit-inner-spin-button,
.input-quantity::-webkit-outer-spin-button{
    -webkit-appearence:none;
    appearance: none;
} */

.precio-total{
    

}